.item1{
    background-color: blue;
    height: 87px;
}
.footer{
    background-image: linear-gradient(black, rgb(26, 25, 25),rgb(36, 34, 34),rgb(48, 47, 47));
}
/* .item4to{ */
    /* background-image: linear-gradient(black, rgb(26, 25, 25),rgb(36, 34, 34),rgb(48, 47, 47)); */
    /* background-image: url("resources/noodles.png"); */
    
    
/* } */